@import "../style/vars.scss";
@mixin button($bg, $color ) {
    background-color: $bg;
    padding: 10px 15px;
    border: 1px solid $green;
    color: $color;
    text-transform: uppercase;
    display: inline-block;  
    border-radius: 5px;
    cursor: pointer;
    font-size: $medium;
    transition: border-color 0.3s, background-color 0.3s;
    &:hover {
        border-color: $lightgreen;
    }
}

@mixin highlight ($bg){
    background: linear-gradient(to top,  rgba($color: $bg, $alpha: .5) 50%, transparent 50%);
}